{%extends "index.html"%}
{% block title %}PassMan{% endblock %}
{% block content %} 

    <h2 class = "mt-5 text-center">{{username}}</h2>

    <br>


    <br><br>
        <h4 class = "text-center">Two-Factor Authentication(
            {% if user.twofa %}
                <b class = "text-center" style = "color: green;">Enabled</b> )</h4>
                <div class="d-flex justify-content-center">
                    <a class = "text-center" href = "/account/2fa">
                        <button type = "button" class = "btn btn-primary">Deactivate Two-Factor Authentication</button>
                    </a>
                </div>
            {%else%}
                <b class = "text-center" style = "color: red;">Disabled</b> )</h4>
                <div class="d-flex justify-content-center">
                    <a class = "text-center" href = "/account/2fa">
                        <button type = "button" class = "btn btn-primary">Activate Two-Factor Authentication</button>
                    </a>
                </div>
            {%endif%}
    </div>

    <br><br>
       
    <h4 class="text-center">Change Password(Re-encrypts everything)</h4>
    <div class="d-flex justify-content-center">
        <a href = "/account/change_pass"><button type = "button" class = "btn btn-primary ">Change Master Password</button></a>
    </div>

    <br><br>

    <h4 class="text-center">Download backup-file</h4>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" 
        onclick = "showMasterModal()">Download</a>
    </div>

    <script type = "text/javascript" src = "static/js/cse.js"></script>

    <script>

        async function downloadbackup(){
            const csrfToken = document.getElementById("csrf_token").value;
            const id = document.getElementById("user_id").value;
            const maspass = document.getElementById("maspass").value;

            var salt, iv;
            ivsalt = await get_salt_iv(EMAIL = undefined, ID = id,  TOKEN = csrfToken);
            salt = ivsalt.salt;
            iv = ivsalt.iv;

            const key = await generateKey(maspass, salt);
            var enc1 = await encrypt(maspass, key, iv=iv);
            const pack1 = pack(enc1.cypher);

            let fd = new FormData();
            fd.append("csrf_token", csrfToken);
            fd.append("mpass", pack1);

            try{
                const response = await fetch("/download_backup_file", {
                    method: "POST",
                    body: fd
                });

                if(!response.ok){

                    const errorText = await response.text();
                    closeDialog("mpass_dia");
                    Toastify({
                        text: errorText,
                        duration: 3000,
                        gravity: "bottom",
                        position: "right",
                        backgroundColor: "#f44336"
                    }).showToast()
                    return;
                }

                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "passman_backup.key";
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);


                closeDialog("mpass_dia");
                Toastify({
                    text: "Backup key download successful!",
                    duration: 3000,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#4CAF50"
                }).showToast();
            } catch(e){
                closeDialog("mpass_dia");
                Toastify({
                    text: "Network error or server unreacheable!",
                    duration: 3000,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#4CAF50"
                }).showToast();
            }
        }


        function closeDialog(dialogID){
            const dia = document.getElementById(dialogID);
            dia.remove();
        }

        function addHTML(html){
            const template = document.createElement("template");
            template.innerHTML = html.trim();

            return template.content.firstElementChild;

        }

        function showMasterModal(){
            const popup = addHTML(`
            <dialog id = "mpass_dia">
                <button onmouseover="this.style.color='white'" onmouseout="this.style.color=''" onclick = "closeDialog('mpass_dia')" type="button" class="btn-close" aria-label="Close"></button>
                <form method = 'POST'>
                    <input type = "hidden" id = "user_id" value = "{{user.id}}">
                    <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
                    <h3 class = "mt-2 mb-7 text-center">Master Password</h3>
                    <div class = "form-group text-center">
                        <input
                            type = "password"
                            class = "form-control border-bottom mb-4 text-center"
                            id = "maspass" name = "maspass"
                            placeholder = "Enter Master Password"
                        >
                    </div>
                    <div class="d-flex justify-content-center" id="lastFormElement">
                        <button class = "btn btn-primary position-relative" onmouseover="this.style.color='white'" onmouseout="this.style.color=''"
                            type = "button" 
                            name = "submit_button" 
                            id = "submit_buttonForm"
                            onclick = "downloadbackup()"
                        value = "New Passkey">Download</button>
                        <span class = "loader" id = "loader" style="display: none;"></span>
                    </div>
                </form> 
            </dialog>`);
            document.body.appendChild(popup);
            const dia = document.getElementById("mpass_dia");
            dia.showModal();
        }


        
    </script>


{%endblock%}
