{%extends "index.html"%}
{% block title %}Home{% endblock %}
{% block content %} 
<h1>PassMan</h1>

<div class = "input-group input-group-lg">
    <input type = "hidden" name = "csrf_token" value = "{{csrf_token()}}"/>
    <button class = "btn btn-primary" onclick = "showDialog(name, 'N')">New Passkey</button>
    <a class="btn btn-success" href="{{url_for('views.download')}}">Download</a>
    <div class = "input-group-prepend">
        <input type = "text" 
            class = "input form-control" 
            placeholder = "Search" 
            name = "q" 
            hx-get = "/search" 
            hx-trigger = "keyup changed delay:500ms" 
            hx-target = "#result">
    </div>
</div>
</br></br></br>

<div id = "pops">

</div>

<script src = "/static/js/cse.js"></script>

<script>

    function closeDialog(dialogID){
        const dia = document.getElementById(dialogID);
        dia.remove();
    }

    function addHTML(html){
        const template = document.createElement("template");
        template.innerHTML = html.trim();

        return template.content.firstElementChild;

    }

    function showDialog(name, action){
        if(action == "N"){
            const popup = addHTML(`
            <dialog id = "newPass">
                <button onclick = "closeDialog('newPass')" type="button" class="btn-close" aria-label="Close"></button>
                <form method = 'POST'>
                    <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
                    <h1 class = "text-center">New Password</h1>
                    <div class = "form-group">
                        <label for = "app">Application(website)</label>
                        <input
                            type = "text"
                            class = "form-control"
                            id = "app" name = "app"
                            placeholder = "Enter application"
                        >
                        <label for = "mpass">Master Password</label>
                        <input
                            type = "password"
                            class = "form-control"
                            id = "maspass" name = "maspass"
                            placeholder = "Enter Master Password"
                        >
                    </div>
                    <button class = "btn btn-primary" 
                        onclick = "sendKeyDialog('New Passkey', {{user.id}})" 
                        type = "button" 
                        name = "submit_button" 
                    value = "New Passkey">Submit</button>
                </form> 
            </dialog>`);
            document.body.appendChild(popup);
            const dia = document.getElementById("newPass");
            dia.showModal();
        }else if(action == "R"){
            const popup = addHTML(`
            <dialog id = "dialog` + name + `">
                <button onclick = "closeDialog('dialog` + name + `') " type="button" class="btn-close" aria-label="Close"></button>
                <form method = "POST" style = "display: inline;">
                    <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
                    <label for = "mpass">Master Password</label>
                    <input
                        type = "password"
                        class = "form-control"
                        id = "maspass" name = "maspass"
                        placeholder = "Enter Master Password"
                    >
                    <button class = "btn btn-primary" 
                        type = "button" 
                        name = "submit_button" 
                        onclick = "sendKeyDialog('R`+name+`', {{user.id}})"
                    value = "R` + name + `">Reveal</button>
                </form>
            </dialog>`);
            document.body.appendChild(popup);
            const dia = document.getElementById("dialog" + name);
            dia.showModal();
        }else if(action == "D"){
            const popup = addHTML(`
            <dialog id = "dialog` + name + `">
                <button onclick = "closeDialog('dialog` + name + `')" type="button" class="btn-close" aria-label="Close"></button>
                <form method = "POST" style = "display: inline;">
                    <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
                    <label for = "mpass">Master Password</label>
                    <input
                        type = "password"
                        class = "form-control"
                        id = "maspass" name = "maspass"
                        placeholder = "Enter Master Password"
                    >
                    <button class = "btn btn-primary" 
                        type = "button" 
                        name = "submit_button" 
                        onclick = "sendKeyDialog('D`+name+`', {{user.id}})"
                    value = "D` + name + `"">Delete</button>
                </form>
            </dialog>`);
            document.body.appendChild(popup);
            const dia = document.getElementById("dialog" + name);
            dia.showModal();
        }
    }

</script>


</br></br></br>
<div id = "result">
{% if passes %}
{% for pass in passes %}
    <div class = "container-fluid">
        <h3 class = "text-center">{{pass.app}}</h3>




        {% if decrypt != pass.id%} <!--REVEAL-->
        <h5 class = "text-center" >{{pass.key}}</h5>
        <button class = "btn btn-primary" name = "{{pass.id}}" onclick = "showDialog(name, 'R' )" >Reveal</button>

        {%else%} <!--COPY+HIDE-->
        <div style = "display: flex; align-items: center; justify-content: center;">
            <h5 class = "text-center" id = "decrypt_key">{{decrypt_key}}</h5>
            <button type="button" class="btn btn-primary ml-2" onclick = "copyToClip()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                </svg>
            </button>
        </div>
        <br>
        <form method = "POST" style = "display: inline;">
            <input type = "hidden" name = "csrf_token" value = "{{csrf_token()}}"/>
            <button class = "btn btn-primary" 
            type = "submit" 
            name = "submit_button" 
            value = "H{{pass.id}}">Hide</button>
        </form>




        {%endif%} <!--DELETE-->
        <button class = "btn btn-primary" name = "{{pass.id}}" onclick = "showDialog(name, 'D' )" >Delete</button>
    </div>
{%endfor%}
{%endif%}
</div>

{%endblock%}

