{%extends "index.html"%}
{% block title %}Login{% endblock %}
{% block content %}


<div class="page-wrapper overflow-hidden">
<section
      class="bg-light-gray  border-primary border-4 d-flex align-items-center justify-content-center min-vh-100">
      <div class="container py-3">
        <div class="sign-in card mx-auto shadow-lg">
          <div class="card-body py-8 px-lg-5">
            <a href="index.html" style="text-decoration: none; color:black;" class="mb-8 hstack justify-content-center">
              <h1 style="font-size:80px;">Passman</h1>
            </a>
            <form class="d-flex flex-column" method="POST">
              <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
              <div>
                <input type="email" 
                class="form-control border-bottom mb-3" 
                id="email" name="email"
                placeholder="Email"
                aria-describedby="emailHelp">
              </div>
              <div>
                <input type="password" 
                class="form-control border-bottom mb-3" 
                id="password" name="password"
                placeholder="Password">
              </div>

              <a onclick = "sendLoginData()" class="btn btn-dark w-100 justify-content-center py-2 fw-medium my-7 fs-4 lh-lg">
                Login
              </a>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>


<script type = "text/javascript" src = "static/js/cse.js"></script>

{%endblock%}
