{%extends "index.html"%}
{% block title %}Login{% endblock %}
{% block content %}
<form method = "POST" enctype = "multipart/form-data">
    <input type = "hidden" name = "csrf_token" id = "csrf_token" value = "{{csrf_token()}}"/>
    <h3 class = "text-center">Login</h3>
    <div class = "form-group">
        <label for = "email">Email Address</label>
        <input 
            type = "email" 
            class = "form-control" 
            id="email" name="email" 
            placeholder="Enter email"
        >
    </div>
    <div class = "form-group">
        <label for = "password">Password</label>
        <input 
            type = "password" 
            class = "form-control" 
            id="password" name="password" 
            placeholder="Enter password"
        >
    </div>
    <h4>OR</h4>
    <div class = "form-group">
        <label for = "backup-file">Backup Key</label>
        <input 
            type = "file" 
            class = "form-control" 
            id="backup-file" name="backup-file" 
            placeholder="Backup File"
        >
    </div>
    <br/>
    <button onclick="sendLoginData()" type = "button" class = "btn btn-primary">Login</button>
    <a href = "/reset" id ="reset">Forgot Password?</a>
</form>


<script type = "text/javascript" src = "static/js/cse.js"></script>

{%endblock%}
