{%extends "index.html"%}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<form method = "POST" class = "d-flex flex-column">
    <input type = "hidden" name = "csrf_token" value = "{{csrf_token()}}"/>
    <h3 align = "center" class = "text-center">Two Factor Authentication</h3>
    <div class = "form-group" class = "text-center"> 
        <label for = "email">Authenticator Code</label>
        <input 
            type = "text" 
            class = "form-control border-bottom mb-3" 
            id="authCode" name="authCode" 
            placeholder="Enter authenticator code"
        >
    </div>
    <br/>
    <button type="submit" class = "btn btn-primary">Send</button>
</form>


{%endblock%}
